snippet ns "namespace :namespace do"
namespace :${1:namespace} do
  $0
end
endsnippet

snippet desc "desc 'text'"
desc '${1:content}'$0
endsnippet

snippet task "task :task do"
task :${1:task} do
  $0
end
endsnippet
